@import '~bootstrap/scss/bootstrap';
@import './variables.scss';
// @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body{
font-family: 'Nanum Myeongjo', serif;
background-color: $primary-bg;
}


.disabled {
   visibility: hidden;
  }
.enabled {
   //opacity:1;
   visibility: visible;
  }

table{
  width: 100%;
  background: $table-bg;
}

table, th, td{
  border: 1px solid $table-border;
  border-collapse: collapse;
}

th,td{
  padding:2px 4px;
  text-align: center;
}

.mainNavBar{
  background-color: $navbar-bg;
  color: $navbar-text;
}
.nav-link{
  color: $navbar_text;

}
.msgheading{
   height: 5vh;
   // background-color: $message_background;
   font-size: 2vh;
   text-align: center;
}
#message, #total_trans {
  height:5vh;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: bolder;
  font-size-adjust: auto;
  margin-bottom: 0.5rem;
}
